.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: rem(23);
    font-weight: 600;
    text-transform: uppercase;
    color: $primary;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: rem(16);
    border: rem(1.5) solid rgb(163, 163, 163);
    background-color: $background;
    margin: rem(32) auto;
    padding: rem(8);
    @include desktop {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(14.5);
    padding: rem(16);
  }

  &__icon {
    font-size: rem(17);
    padding-top: rem(3);
    @include tablet {
      font-size: rem(19);
    }
  }

  &__rrss {
    font-family: "Montserrat", sans-serif;
    font-size: rem(15);
    color: $secundary;
    text-decoration: none;
    @include tablet {
      font-size: rem(17);
    }
    @include desktop {
      font-size: rem(19);
      transition: all 300ms ease-in-out;
      &:hover {
          color: $hover;
      }
    }
  }
}