.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title {
    font-size: 23px;
    font-weight: 600;
    text-transform: uppercase;
    color: $primary;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 2rem;
    border: 0.1rem solid rgb(163, 163, 163);
    background-color: $background;
    margin: 2rem auto;
    padding: 0.5rem;

    @include desktop {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.9rem;
    padding: 1rem;
  }

  &__icon {
    font-size: 17px;
    padding-top: 3px;

    @include tablet {
      font-size: 19px;
    }

    @include desktop {
      font-size: 19px;
    }
  }

  &__rrss {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: $secundary;
    text-decoration: none;

    @include tablet {
      font-size: 17px;
    }

    @include desktop {
      font-size: 19px;
      transition: all 300ms ease-in-out;
      &:hover {
          color: $hover;
      }
    }
  }
}