.section__experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    padding: 120px 35px 0 35px;
  @include tablet {
    padding: 140px 5rem 0 5rem;
  }
}

.experience__container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
  width: 100%;

}

.experience__details {
  padding: 1.5rem;
  border-radius: 2rem;
  border: 0.1rem solid rgb(163, 163, 163);
  text-align: center;
  flex: 1 1 calc(100% - 2.5rem); 
  @include tablet {
    flex: 1 1 calc(50% - 2.5rem); 
  }
  @include desktop {
    flex: 1 1 calc(33.333% - 2.5rem); 
  }
}

.experience__items {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.experience__item {
  margin-top: 15px;
  display: flex;
  width: 10rem;
  align-items: center;
  gap: 0.5rem;
}
.experience__text {
  font-family: "Montserrat",
      sans-serif;
  font-size: 16px;
  @include tablet {
  font-size: 18px;
  }
  @include desktop {
  font-size: 20px;
  }
}


.icon {
  width: 1.8rem;
  height: 1.8rem;
}