.section {
  display: flex;
  width: 100%;
  min-height: 100vh;

  
  &__h2 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: rgb(56, 56, 56);
    @include tablet {
      font-size: 25px;
    }
    @include desktop {
      font-size: 27px;
    }
  }  
  &__text {
  font-family: "Montserrat",
      sans-serif;
        line-height: 1.8;
    color: black;
    font-size: 15px; 
    @include tablet {
      font-size: 17px;
    }
    @include desktop {
      font-size: 19px;
        line-height: 2;
    }
  }
  &__h3 {
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
      margin-bottom: 30px;
      text-transform: uppercase;
      color: rgb(0, 0, 0);
      @include tablet {
          font-size: 17px;
      }   
      @include desktop {
            font-size: 18px;
      }
  }
}

.section__home {
  background-color: #fdfbf8;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 110px 35px 70px 35px;
  @include tablet {
    padding: 120px 35px 70px 35px;
    align-items: flex-start;
    }
  @include desktop {
  
  }

  &--title {
  font-family: "Michroma",
      sans-serif;

    color: rgb(0, 0, 0);
    
  font-weight: 600;
    font-size: 46px;
    @include tablet {
  font-weight: 600;
    font-size: 49px;
    }
        @include desktop {
        }
  }
  &--description {
    margin-bottom: 1.2rem;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 100;
    @include tablet {
      font-size: 20px;
    }
  }
}


.btn__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  width: 100%; 
  @include tablet {
  flex-direction: row;
  justify-content: flex-start;
  }
}

.btn {
  transition: all 300ms ease-in-out;
  padding: 0.9rem 1.2rem;
  width: 100%; 
  max-width: 16rem; 
  border-radius: 2rem;
  cursor: pointer;
  text-align: center; 
  display: inline-block; 
  text-decoration: none;
  @include tablet {
    max-width: 363.36px; 
    padding: 1rem 2rem; 
  }
  @include desktop {
    max-width: 16rem; 
    padding: 1rem 3rem; 
  }

  &__1 {

      font-size: 12px;
      border: 0.1rem solid rgb(53, 53, 53);
      background: none;
      color: black;
      
      &:hover {
        background: #242424;
        color: white;
      }
    }
  
}
