nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 25px;


  .logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
    &:hover {
        color: grey;
      }
    @include tablet {
      font-size: 1.5rem;
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      a {
        font-size: 1.1rem;
        display: block;
        text-decoration: none;
        color: black;
        padding: 1rem;
        border-radius: 0.5rem;
        position: relative;
        transition: color 0.2s ease;
        @include desktop {
          font-size: 1.3rem;
        }

        &:hover {
          color: grey;
          text-decoration: underline;
          text-underline-offset: 1rem;
          text-decoration-color: grey;
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 2px;
          background-color:grey;
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.3s ease-in-out;

          &:hover {
            transform: scaleX(1);
          }
        }

        &.active {
          color: grey;
          text-decoration: underline;
          text-underline-offset: 1rem;
          text-decoration-color:grey;
          transition: all 0.3 ease-in-out;

          &::after {
            transform: scaleX(1);
          }
        }
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;

      li {
        width: 100%;
        text-align: center;

        a {
          margin: 0.2rem 0.5rem;
        }
      }
    }
  }

  .menu {
    display: none;
    position: absolute;
    top: 2.3rem;
    right: 1.40rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.4rem;
    height: 1rem;
    cursor: pointer;
    
    @include tablet {
      width: 2.25rem;
        height: 2rem;
    }

    span {
      height: 0.3rem;
      width: 100%;
      background-color: black;
      border-radius: 0.4rem;
    }
  }

  @media (max-width: 768px) {

    flex-direction: column;
    align-items: start;

    .menu {
      display: flex;
    }

    ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
      
      &.open {
        display: flex;
      }
    }
  }
}