nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $background;
  z-index: 1000;
  padding: 30px 35px;

  .logo {
    font-weight: 200;
    font-size: 24px;
    text-decoration: none;
    color: $primary;
    background-color: $background;

    @include tablet {
      font-size: 26px;
    }
    @include desktop {
      transition: transform 500s ease-in-out;

      &:hover {
        color: $hover;
      }
    }
  }

  ul {
    display: none;

    &.open {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
      background-color: $background;

      li {
        width: 100%;
        text-align: center;

        a {
          margin: 0.2rem 0.5rem;
          color: $secundary;
        }
      }
    }

    @include tablet {
      display: flex;
      flex-direction: row;
      list-style: none;
    }
  }

  .menu {
    display: flex;
    position: absolute;
    top: 2.45rem;
    right: 2.2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.2rem;
    cursor: pointer;
    background-color: $background;

    span {
      height: 0.11rem;
      width: 100%;
      background-color: $secundary;
      border-radius: 0.4rem;
    }

    @include tablet {
      display: none;
    }
  }

  ul li a {
    font-size: 15px;
    display: block;
    text-decoration: none;
    color: $secundary;
    padding: 1rem;
    position: relative;

    @include desktop {
      transition: transform 300ms ease-in-out;
      font-size: 17px;
      &:hover {
        color: $hover;
        &::after {
          transform: scaleX(1);
        }
      }

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $hover;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 500ms ease-in-out;
      }
    }
  }
  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (hover: none) {

  nav ul li a,
  nav .logo {
    transition: none;

    &:hover {
      color: inherit;
      background-color: inherit;

      &::after {
        transform: none;
      }
    }
  }
}