.section__projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;

  // Estilos para tablet
  @include tablet {
    // Aquí se pueden agregar reglas específicas para tablet si es necesario
  }

  // Estilos para desktop
  @include desktop {
    // Aquí se pueden agregar reglas específicas para desktop si es necesario
  }
}

.projects__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: space-around;
  width: 100%;

  // Estilos para tablet
  @include tablet {
    // Aquí se pueden agregar reglas específicas para tablet si es necesario
  }

  // Estilos para desktop
  @include desktop {
    // Aquí se pueden agregar reglas específicas para desktop si es necesario
  }
}

.project {
  padding: 1.5rem;
  border-radius: 2rem;
  border: 0.1rem solid rgb(163, 163, 163);
  text-align: center;
  flex: 1 1 calc(100% - 2.5rem); // Una columna para móviles
  margin: 0 auto; // Centrando los divs en móviles
    border-color: rgb(163, 163, 163);
      background: rgb(250, 250, 250);

  // Estilos para tablet
  @include tablet {
    flex: 1 1 calc(50% - 2.5rem); 
    margin: 0;
  }

  // Estilos para desktop
  @include desktop {
    flex: 1 1 calc(33.333% - 2.5rem); // Tres columnas en pantallas grandes
  }
 
 &__img {
   border-radius: 2rem;
   width: 90%;
   height: 90%;
 }
 &__title {
   margin: 1rem;
   color: black;
 }


}
.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

