.technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(110) rem(35) 0 rem(35);
  @include tablet{
    padding: rem(115) rem(100) 0 rem(100);
  }
  @include desktop {
    padding: rem(117) rem(200) 0 rem(200);
  }

  &__title {
    font-size: rem(23);
    font-weight: 600;
    margin-bottom: rem(28);
    color: $primary;
    text-transform: uppercase;
  }

  &__list {
    
    display: flex;
    flex-wrap: wrap;
    gap: rem(40);
    justify-content: space-around;
    width: 100%;
  }

  &__section {
    padding: rem(24);
    border-radius: rem(32);
    border: rem(1.5) solid $secundary;
    text-align: center;
    flex: 1 1 calc(100% - 2.5rem);
    @include tablet {
      flex: 1 1 calc(50% - 2.5rem);
    }
    @include desktop {
      flex: 1 1 calc(33.333% - 2.5rem);
    }
  }

  &__subtitle {
    font-size: rem(15);
    font-weight: 600;
    text-transform: uppercase;
    color: $secundary;
    padding: rem(10) 0 rem(20);
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    gap: rem(20);
    justify-content: center;
    @include tablet {
      justify-content: space-between;
      padding: 0 rem(50);
    }
  }

  &__skill {
    margin-top: rem(15);
    display: flex;
    align-items: center;
    gap: rem(8);
    width: rem(160); 
  }

  &__icon {
    width: rem(28);
    height: rem(28);
    background-color: $primary;
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-size: rem(16);
    color: $secundary;
    @include tablet {
      font-size: rem(18);
    }
    @include desktop {
      font-size: rem(20);
    }
  }
}