@import './core/variables.scss';
@import './core/reset.scss';
@import './core/mediaqueries.scss';
@import './core/functions.scss';
@import './components/about.scss';
@import './components/contact.scss';
@import './components/experience.scss';
@import './components/footer.scss';
@import './components/home.scss';
@import './components/menu.scss';
@import './components/projects.scss';


.App {
  background-color: #fefefe;
  height: 100%;
  width: 100%;
}

main {
  
      padding: 0;
   
      display: block;
    
 
}